* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */

:root {
    --background-dark: #00000080;
    --background-light: #028090;
    --light: #f0f3bd80;
    --accent: #02C39A;
    --fontlight: 'Roboto Condensed', sans-serif;
    --fontheader: 'Roboto', sans-serif;
    --hcolor: #fff;
    --padding: 1rem;
    --paddinghalf: 0.5rem;
    --border: var(--background-light) solid 2px;
}

/* GENERAL */

h1, h2, h3, h4, h5 ,h6 {
    font-family: var(--fontheader);
}

body {
    background: center / cover no-repeat url(../assets/backgrounds/background16.9.svg);    
    min-height: 100vh;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2ch;
    background: center / cover no-repeat url('../assets/backgrounds/headerbg.svg');
}

header h1 {
    padding: var(--padding);
    border-radius: 0.5rem;
    border: var(--border);
    background: var(--background-dark);
    color: var(--hcolor);
    text-transform: uppercase;
}

/* MAIN */

main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    font-family: sans-serif;
    gap: var(--padding);
    grid-template-columns: 1fr;
    font-family: var(--fontlight);
}

/* USED FOR ALL SUB HEADERS */

h2, h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15ch;
    color: var(--hcolor);
    margin: var(--paddinghalf);
}

/* CONTAINERS */

/* SEARCH CARDS */

#search-form {
    display: flex;
}

/* FORM */

#location-text {
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: var(--border);
}

#location-text:focus {
    background: transparent;
    outline: 0;
    border: 0;
    border-bottom: var(--border);
}

::placeholder {
    color: #000000ab;
}

#search-button {
    padding: 5px;
    background: transparent;
    outline: 0;
    border: 0;
    color: #000000ab;
    border-bottom: var(--border);
    box-shadow: inset 0 0 0 0 var(--background-light);
    transition: box-shadow 300ms ease;
}

#search-button:hover {
    box-shadow: inset 0 -40px 0 0 var(--background-light);
    cursor: pointer;
}

/* RECENT SEARCHES */

.recent-searches-div {
    text-align: center;
}

.recent-searches-div h3 {
    color: var(--hcolor);
    border-bottom: var(--border);
    padding: var(--paddinghalf);
    margin: 1rem 0;
}

.recent {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.recent li {
    list-style: none;
    padding: var(--padding);
    cursor: pointer;
    border: var(--border);
    border-radius: 0.5rem;
    background: var(--light);
    box-shadow: inset 0 0 0 0 var(--accent);
    transition: box-shadow .3s ease;
}

.recent li:hover {
    box-shadow: inset -50px 0 0 0 var(--accent);
}

/* WEATHER CARDS */

.weather-container {
    background: var(--light);
    border-radius: var(--padding);
    padding: var(--padding);
    box-shadow: 0px 0px 6px 1px #000000;
    margin: 0.5rem 0;
    text-align: center;
}

/* CURRENT WEATHER */

.current-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.current-display div:nth-child(-n + 3) {
    border-right: var(--border);
}

/* FIVE DAY FORECAST */

.time-taken {
    text-align: center;
    color: var(--h2color);
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.forecast-weather {
    display: flex;
    flex-flow: column nowrap;
}

.forecast-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.forecast-content div:nth-child(-n + 2) {
    border-bottom: var(--border);
}

/* WEATHER CONTAINER CHILDREN */

.child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.child > * {
    padding: 0.5rem 0
}

/* NAME */

.name {
    text-align: center;
    padding: var(--paddinghalf);
    border-bottom: var(--border);
}

/* CONDITIONS */

.conditions img {
    max-width: 100px;
}

.conditions {
    text-align: center;
    text-transform: capitalize;
}

/* TEMP MAX/MIN/CURRENT TEMP/HUM */

.temp p:nth-child(odd) {
    font-size: 3ch;
}

.temp p:nth-child(even) {
    font-style: italic;
}

/* WIND CONTAINER */

.wind-arrow {
    transform: rotate(0);
    transform: scale(2);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: var(--background-dark);
    height: 10ch;
}

footer p {
    color: var(--accent);
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: #000000;
    border: var(--accent) solid 2px;
    border-radius: 10px;
    padding: 5px;
    background: var(--accent);
}

@media (min-width: 50em) {
    main {
        grid-template-rows: auto;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: unset;
    }
}

@media (min-width: 70em) {
    .forecast-weather {
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        gap: 1rem;
        text-align: center;
    }
    
    .forecast-content {
        display: flex;
        flex-flow: column nowrap;
    }
}
    
