* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-dark: #05668D;
    --background-light: #028090;
    --light: #F0F3BD;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2ch;
    background: center / cover no-repeat url('../assets/backgrounds/wave-haikei.svg');
}

header h1 {
    padding: 0.5ch;
    border-radius: 0.5rem;
    border: 2px solid #028090;
    color: white;
}

main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    padding: 1rem;
}


@media (min-width: 40em) {
    main {
        grid-template-rows: auto;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: unset;
    }

}